*
{
    margin: 0;
    padding:0;
}

.navbar ul
{
    width:100%;
    background:rgb(53, 52, 52);
    height:70px;
    text-align:center;
}
.navbar ul li
{
    display: block;
    float:right;
    color:red;
    
}



