
*
{
   margin:0;
   padding: 0;
   box-sizing: border-box;
   font-family: andale mono,monospace;
}
body
{  
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

/* Navbar css */
.navbar
{  
   border-bottom: solid black 2px;
   display: flex;
   height: 70px;
   width: 100%;
  
   background-color: #7e916a;
   overflow: hidden;   
}
.navbar h1
{
   color: rgb(0, 0, 0);
   margin: auto 10px;
}
.navbar ul
{  
  display: flex;
   margin-top: 10px;
   margin-left: auto;
   padding-right: 30px;
}
.navbar .link
{
   margin-right: 6px;
   display: inline-block;
   width: 100px;
   font-weight: bold;
}

.navbar .link a
{

   font-size: 1.15em;
   display: flex;
   align-items: center;
   justify-content: center;
   color:rgb(0, 0, 0);
   text-decoration: none;
   height: 100%;
   width: 100%;
   transition: all 0.5s ease;
  
}
.navbar .link a:hover
{
   color: #ffffff;
	padding-left: 8px;
  
}
.content
{  

   background-color: #95AB7D;
   flex:1;
   display: flex;
   flex-direction: column;
   width: 100%;
   
}
.top-content
{  
   display: flex;
   flex: 1; 
   width: 100%;
   overflow: hidden;
}
.top-content #mpas
{
   position: absolute;
   font-size: 7em;
   top: 40%;
   left: 10%;
   color: white;
   z-index: 100;
}

.museum-img
{  

   width: 100vw;
   height: 85vh;
   background-image: url(../images/museum.png);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   display: flex;
   flex-direction: column;
   
}
.links
{
   position: relative;
   margin: 0 auto;
   
   margin-top: auto;
   margin-bottom: 10px;
  
   width: fit-content;
}
.museum-img .links a
{
   margin:3px;
}
.middle-content
{  
  
   flex: 1;
   display: flex;
   width: 100%;
   height: 100%;
   
   
}
.bottom-content
{
   flex: 1;
   display: flex;
   width: 100%;
   height: 100%;
}
.comments-section
{
   flex-direction: column;
   
}
.form-card
{
   background-color: rgb(61, 61, 61);
   width:fit-content;
   height:fit-content;
   margin:5%   auto;
   padding: 10px;
   border-radius: 5px;
   border: solid #dfffac thin;

}
.form-card form
{  
   padding: 20px;
   
   color:rgb(255, 237, 237);
   display: flex;
   flex-direction: column;
 
}
.form-card label
{
   font-weight: bold;
   font-size: large;
}
.form-card input,textarea
{
   padding:5px;
   font-size: 25px;
   width: 100%;
   
   border:none;
   border-bottom: thick solid rgb(197, 253, 152);
   outline: none;
   margin: 10px;
}
.form-card textarea
{
   background-color: #dad8d876;
   height: 300px;
}

.form-card .dragImage
{
   text-align: center;
   border: thin solid black;
   padding:25%;
}
.form-card input[type='file']
{
   background-color: rgba(166, 166, 166, 0.83);
   display: none;
}
.form-card .fileLabel
{
   cursor:pointer;
}
.form-card button
{
      height: 100%;
      margin: 20px auto;
      width:fit-content;
      background-color:rgba(153, 255, 133, 0.541);
      border: none;
      color: rgb(0, 0, 0);
      border-bottom: 1px solid black;
      font-size: 1.85em;
      cursor:pointer;
      transition: all .5s ease;
}
.form-card button:hover
{
   background-color: rgb(157, 250, 120);
   padding-left: 10px;
   transition: .1s;
   
}
.form-card select
{
   margin: 25px 5px 0px 5px;
   font-size: 20px;
}
.form-card a{
   margin-top: 8px;
   color: white;
}
.form-card #forgotPasswordForm input
{
   width: 800px;
}

.table-card
{
   margin: 5% auto;
   display: flex;
   flex-direction: column;
   background-color: rgb(255, 255, 255);
   width: fit-content;
   height: 100%;
   border: 2px rgb(0, 0, 0) solid;
   padding: 15px;
   border-radius: 15px;
   
}
.table-card>a
{
   color: rgb(52, 61, 244);
   margin: 0 auto;
   font-size: 1.6em;
   text-decoration: none;
   transition: all .5s ease;

}
.table-card>a:hover
{  
  color:black;
  padding-left: 10px;
  border-bottom: solid #24262b thin;

}
.table-card table
{
   margin:10px;
   text-align: center;
   color:rgb(80, 146, 138);
   font-size: 25px;
   border-spacing: 30px 10px;
}
.table-card table th
{
   border-bottom: 2px solid rgb(0, 0, 0);
}
.yellow-button
{  
  

   text-decoration: none;
   color:rgb(197, 247, 254);
   font-weight: bold;
   background-color:rgb(31, 117, 105); ;
   border: 2px solid rgb(39, 39, 39);
   font-size: 25px;
   padding: 2px;
}

.yellow-button:hover
{
   background-color:rgb(197, 247, 254);
   color:rgb(31, 117, 105); ;
   transition: .2s;
   cursor:pointer;
}
.red-button 
{
   text-decoration: none;
   color:rgb(59, 3, 3);
   font-weight: bold;
   background-color:rgb(253, 113, 106); 
   border: 2px solid rgb(59, 3, 3);
   font-size: 25px;
   padding: 2px;
   
}
.red-button:hover
{
   background-color:rgb(59, 3, 3);
   color:rgb(253, 135, 106); 
   transition: .3s ease;
   cursor:pointer;
}

.table-card button
{
   font-size: 25px;
}
.exhibition
{  
   max-width: 90%;
   display: flex;
   margin:30px auto;
}
.exhibition-card
{
   
   display: flex;
   flex-direction: column;
   margin: 10px;

 
}
.exhibition-card img
{  
   object-fit: cover;
   max-width: 100%;
   min-height: 100%;
}
#exhibition-text
{
   color:white;
   
}
.exhibition-content
{  
  
   display: flex;
   flex-direction: column;
   
   width: fit-content;
   height: fit-content;
   
}
.exhibition-button
{  
   font-size: 1.5em;
   margin: 0 auto;
   width:fit-content;
   height: fit-content;
   color: rgb(192, 192, 192);
   text-decoration: none;
   transition:all .5s ease;
}
.exhibition-button:hover
{
   color: #ffffff;
	padding-left: 15px;
}
.collection
{
   background-color: #7e916a;
   box-sizing:border-box;
   width:100%;
   height: fit-content;
   padding: 40px;
   overflow: hidden;
   border-top: solid black thin;
 
 
}
.collection h1
{  
   text-align: center;
   margin-bottom: 50px;
   color:rgb(2, 2, 2);
   font-size: 3.8em;
}


@keyframes moveElement {
   0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
   
}
.slider
{  
  
   
   width: 100em;
   height: fit-content;
  
   position:relative;
   overflow: hidden;
   
   margin: 30px auto;
}





  

.slider-row
{  
   animation: moveElement 40s linear infinite;
   display: flex;
   width: calc(250px*14);

}
.collection-item
{  
display: flex;
width: fit-content;
height: 500px;
margin: 10px;
}
.collection-item img
{
min-width: 100%;
min-height: 100%;
}
.visit-button
{ 
   display: block;
   margin: 0 auto;
   font-size: 3em;
   width: fit-content;
   color:rgb(0, 0, 0);
   text-decoration: none;
   
   padding: 2px;
   border-radius: 2px;
   transition: all .5s ease;
}
.visit-button:hover
{
   padding-left: 10px;
   color: white;
}
.collection-grid
{  

   width: 1100px;
   
   
   height: fit-content;
   display: flex;
   flex-wrap: wrap;
   
 
   border-radius: 5px;
   margin: 50px auto;
 
   
  

}
.collection-card
{  
   align-items: center ;
   display: flex;
   flex-direction: column;
   margin: 10px;
   justify-content: center;
   width:fit-content;
   
   height:85vh;
   max-height: fit-content;
   overflow: hidden;
}
.collection-desc 
{
   word-wrap: break-word;
  
   font-size: 1.5em;
   max-width: 300px;
}
.collection-image
{  
  
   display: flex;
   width: 300px;
   height: auto;
  
   word-wrap: break-word;
   margin: 10px;
   overflow: hidden;
   border: thin solid black;
   border-radius: 8px;
   cursor: pointer;
}

.collection-image img
{  
   
   position: relative;
   
   min-width: 100%;
   min-height: 100%;
   transition: transform 0.7s;
}
.collection-image img:hover
{
   transform: scale(1.1);
}

.img-1
{
   width: 100px;
   height: auto;
   overflow: hidden;
}
.img-1 img
{
   width: 100%;
   height: 100%;
   object-fit: cover;

}
.modal {
   display: none;
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgba(0,0,0,0.5);
}

.modal-content {
   background-color: #ffc5c5;
   margin: 15% auto;
   padding: 20px;
   border: 1px solid #888;
   width: 300px;
   text-align: center;
}



.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #2d3932;
   padding: 70px 0;
   margin-top: auto;
   
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: rgb(48, 118, 71);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

.user
{  
   background-color: #dff7c2;
   display: flex;
   min-height: 40vh;
   flex:1;
   flex-direction: column;
}
.user-card
{
   background-color:#ffffff;
   border: solid rgb(0, 153, 255) thin;
   padding: 10px;
   width: fit-content;
   
   display: flex;
   margin:  auto auto;
   
}
.user-card .info
{
   font-size: 2em;
   margin-right: 30px;
}
.user-card .links
{  
   margin-left: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   font-size: 1.5em;
}
.user-card .links>a
{
   margin-bottom: .3em;
}
.cart-link
{  
   width: fit-content;
   margin: 0 auto;
}
.cart-link button
{
   background-color: #24262b;
   color: beige;
   text-decoration: none;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size:1.8em;
   
   cursor: pointer;

   transition: all .5s ease;
}
.cart-link button:hover
{
   background-color: rgb(53, 121, 72);
}
.about-us
{  
   flex: 1;
   display: flex;
   justify-content: center;
   align-items: center;   
}
.abtus-img
{  
   display: flex;
   min-width: 35vh;
   min-height: 35vh;
   max-width: 35vh;
   height: 35vh;
   overflow: hidden;
   border: solid black thick;
   border-radius: 50%;
   position: relative;

}
.abtus-img img
{
   object-fit: cover;
   min-width: 100%;
   min-height: 100% 
}
.image-card
{  
  
   display: flex;
   width: fit-content;
   height: fit-content;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 1%;

}
.abt-desc
{
 
   width: 100%;
   height: fit-content;
   height: 300px;
   
}
.abt-desc p
{    
   margin-left:1.1em ;
   text-align: left;
   font-size: 1.5em;
   max-width: 300px;
   word-wrap: break-word;
}
.abt-desc h2
{
   color: #24262b;
   text-align: left;
   margin: 30px;
}
.comments
{
   display: flex;
   flex-direction: column;
   width: 60vw;
   margin: 0px auto 50px auto;
   background-color:#7e916a;
   border: solid black thin;

}
.comments>h1
{
   text-align: center;
   margin: 35px 0;
  
}
.comment-card
{  
   border: solid black thin;
   border-radius: 5px;
   display: flex;
   flex-direction: column;
   margin: 15px;
   padding: 10px;
   background-color:#95AB7D;
}
.comment-card h1
{
   font-size: 1.6em;
   float: left;
   margin-bottom: 10px;
   
}
.comment-card p
{
   font-size: 1.5em;
}
.comment-card h3
{
   font-size: 1.3em;
   margin-left:auto;
}
.comment-form
{
   margin: 40px auto;
   background-color:#7e916a;
   border: solid black thin;
}
.comment-form form
{
   display: flex;
   flex-direction: column;
}
.comment-form label
{
   font-size: 2em;
   text-align: center;
   font-weight: bolder;
   margin: 30px 0;
}
.comment-form textarea
{
   background-color: #b7ce9f;
   border: solid rgb(0, 0, 0) thin;
   
}

.comment-form button
{  
   margin: 20px auto;
   font-size: 1.65em;
   background-color: #b7ce9f;
   cursor: pointer;
   border: none;
   transition: all 1s ease;
}
.comment-form button:hover
{  
   margin: 20px auto;
   font-size: 1.65em;
   padding-left: 1.5%;
   background-color: #e9ffd2;
   cursor: pointer;
   border: none;
}

.tickets
{
   display: flex;
   flex-direction: column;
   width: fit-content;
   margin: auto auto;
   background-color:#e8ffd0;
   padding: 2.5%;
   border-radius: 10px;
   border: solid black thin;
}
.tickets form
{
   display: flex;
   flex-direction: column;
}  

.ticket select
{  
   float: right;
   font-size: 1.5em;
   border-radius: 5px;
}
.ticket
{
   
   padding: 15px;
   
   border-bottom: solid black thin;
}

.cart-link
{
   margin-left: auto;
   
}
.padding-div
{
   padding: 30px;
}
.cart
{  
   display: flex;
   border: solid black thin;
   padding: 30px;
   margin: auto auto;
   

   background-color: #e8ffd0;
}
.cart form
{  
   display: flex;
   flex-direction: column;
}
.user-tickets
{
  width: 100%;
  max-height: 50vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
 
}
.user-tickets>h1
{
   text-align: center;
   margin: 15px ;
}

.user-ticket
{
   margin: 15px 0;
   border: solid black thin;
   padding: 15px;
   background-color: #e8ffd0;
   border-radius: 5px;
   width: 30vw;
}
.title
{
   margin: 0 auto;
}
.event-details
{
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.event-details .desc
{
   
   width: 40vw;
   font-size: 1.5em;
   margin-bottom: 20px;
}
.image-1
{
   margin: 30px;
   display: flex;
   height: 80vh;

}
.image-1 img
{
   width: 100%;
   height: 100%;
}
